/* body{
    
    
} */

div{
    height: 163px;
    width: 310px;
    border: 5px solid black;
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}